@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* ########## NAVBAR STYLING ############ */
.nav {
    background-color: #6F6AF7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo img {
    font-weight: 400;
    width: 120px;
    height: 40px;
}
.navitems ul {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.nabitems li i{
    align-items: center;
}
.navitems ul li {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {position: relative;}
  .search input[type="text"] {
    height: 25px;
    border-radius: 70px;
    padding: 10px;
    outline: none;
    border: 0;
    width: 80%;
    height: 20px;
    font-family: serif;
    padding-right: 40px; 
  }
  .search i.bx-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 20px;
  }
  
.menu-icon img {
    height: 40px;
    cursor: pointer;
}

/* ############ ABOUT STYLING ########### */
.about {
    margin-top: 8rem;
}
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}
.left-img img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.right-text {
    background: #E5D8FF;
    border: 6px solid #FFFFFF;
    box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 400px;
}
.right-text p {
    padding: 2rem;
    font-weight: 400;
    font-size: 1rem;
}
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.box p {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.box1,
.box2,
.box3,
.box4 {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 1.2rem;
    flex-basis: 20%;
}
.box1 {
    background-color: #929DFF
}

.box2 {
    background-color: #734CF2;
}

.box3 {
    background-color: #D288FF;
}

.box4 {
    background-color: black;
    position: relative;
}
.box4-img img {
    background-color: white;
    border-radius: 50px;
    padding: 0.2rem;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20%;
    bottom: -20%;
    cursor: pointer;
}
.icon{
    position: fixed;
    top: 27%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;

  }
  .icon li img,
  .icon li svg{
    width: 30px;
    margin-bottom: 0.3rem;
    cursor: pointer;
    border: 1px solid black;
  }
  

/* ########## CONTACT STYLING ############ */
.contact {
    background: #483EFF;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-radius:20px ;
    padding: 2rem;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-box1{
    background: #BCE0F6;
    border-radius: 20px;
    font-size: 700;
    color: black;
    width: 200px;
    height: 60px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact-box2,.contact-box3{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    font-size: 700;
    border: 2px solid white;
    outline: none;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact-right {
    margin: 2rem;
    flex-basis: 50%;
    height: 35vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.contact-text h3{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #04285A;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}
.contact-text span{
    color: #143565;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
.contact-button{
    position: absolute;
    right: 0;
    margin: 2rem;
    bottom: 0.5rem;
}
.contact-button button{
    padding: 0.8rem 2rem;
    border-radius:10px;
    background: #000000;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}
.contact-button button i {
    margin-left: 5px;
    font-size: 1rem;
}


/* ############## DESKTOP-FIRST RESPONSICE ################# */
@media (max-width: 700px) {
    .logo img {
        width: 90px;
        height: 30px;
    }
    .icon{display: none;}
    .search{display: none;}
    .contact{width: 55vh;}
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-text{
        position: relative;
    }
    .contact-button button{
        position: absolute;
        right: 0;    
    }
    .contact-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-icon img {
        width: 40px;
        height: 30px;
    }
    .navitems {display: none;}
    .box1,
    .box2,
    .box3,
    .box4 {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        flex-wrap: wrap;
    }
    .right-text {
        width: 300px;
        height: 300px;
    }
    .contact {flex-basis: 100%;}
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-left{
        display: flex;
        flex-direction: column;
    }   
    .contact-button button{padding: 0.6rem 1rem;}   
}

@media (min-width:700px) and (max-width:1400px) {
    .navitems {display: none;}
    .box1,
    .box2,
    .box3,
    .box4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        flex-basis: 40%;
        margin-bottom: 1rem;
    }
    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        flex-wrap: wrap;
        column-gap: 2rem;
    }
    .right-text {
        width: 400px;
        height: 400px;
    }
}

@media (max-width:768px) {
    .navitems {display: none;}
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        flex-wrap: wrap;
    }
    .right-text {
        width: 400px;
        height: 400px;
    }
    .box4 {position: relative;}
    .box4-img img {
        height: 40px;
        width: 40px;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}